@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.text-center{text-align: center}
.margin-top-10{margin-top: 10px!important}
.margin-top-20{margin-top: 20px!important}
.bold{font-weight: bold}

span{display: inline-block}
.responsive{max-width: 80%; margin: 0 auto}

/* Lang Items */
.lang-switcher{
    position: fixed;
    top: 10px;
    right: 10px;
}
.lang-item img{
    cursor: pointer;
}
.lang-item:hover img{
    transform: scale(1.1);
}

/* Counter ?*/
#counter{
    font-size: 20px;
    background-color: rgb(232, 218, 156);
    padding: 5px;
    position: fixed;
    top: 0;
    left: 10px;
}

/* Stylised Liste */
.style-list li::before{
    content: "✔";
    color: red;
    margin-right: 10px;
}
.style-list li:first-child{margin-left: 10px}
.style-list li:first-child::before{content: ""}

.tcenter{
    text-align: center;
    margin-bottom: 20px
}

h1{
    text-align: center;
}

#projects{
    max-width: 80%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px
}

#projects li{
    padding: 15px;
    border-radius: 15px

}
.project-verified{
    background-color: rgba(99, 245, 109, 0.5)
}
.project-unverified{
    background-color: rgba(239, 49, 49, 0.5)
}
a{
    color: black
}

.project-title{
    font-size: 16px;
    color: black
}
.project-description{
    margin-top: 10px;
    font-size: 14px
}